; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================
; --- Force all alarm cars to be active
modify:
; --- Alarm by burger tank
{
	match:
	{
		"targetname" "branch_caralarm-car5"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car5Trigger0-1"
	}
}
; --- Alarm by playground saferoom house
{
	match:
	{
		"targetname" "branch_caralarm-car1"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car1Trigger0-1"
	}
}
; --- Alarm by the playground green house
{
	match:
	{
		"targetname" "branch_caralarm-car4"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car4Trigger0-1"
	}
}
; --- Alarm by the garage sale
{
	match:
	{
		"targetname" "branch_caralarm-car2"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car2Trigger0-1"
	}
}
; --- Alarm by the sugarmill saferoom
{
	match:
	{
		"targetname" "branch_caralarm-car3"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car3Trigger0-1"
	}
}

; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block climbing on tree by the playground
{
	"classname" "env_physics_blocker"
	"origin" "-1521 7060 940"
	"mins" "-65 -50 -606"
	"maxs" "65 50 606"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors getting on the hedges and fences by the playground / broken building
{
	"classname" "env_physics_blocker"
	"origin" "-1138 7430 816"
	"angles" "0 -1 0"
	"mins" "-30 -770 -576"
	"maxs" "30 770 576"
	"boxmins" "-30 -770 -576"
	"boxmaxs" "30 770 576"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-640 6592 810"
	"mins" "-4 -64 -582"
	"maxs" "4 64 582"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-900 6652 810"
	"mins" "-256 -4 -582"
	"maxs" "256 4 582"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting on the green building by the playground
{
	"classname" "env_physics_blocker"
	"origin" "-1708 5664 767"
	"mins" "-260 -208 -514.5"
	"maxs" "260 208 514.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting on the tall roof by the playground
{
	"classname" "env_physics_blocker"
	"origin" "-640 5760 927"
	"mins" "-272 -208 -459"
	"maxs" "272 208 459"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors climbing on top of and around the broken building
{
	"classname" "env_physics_blocker"
	"origin" "-572 6524 827"
	"mins" "-62 -4 -565"
	"maxs" "62 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-503 6527 946"
	"mins" "-7 -1 -565"
	"maxs" "7 1 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-636 6336 827"
	"mins" "-4 -192 -565"
	"maxs" "4 192 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-579 6148 827"
	"mins" "-53 -4 -565"
	"maxs" "53 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-376 6148 827"
	"mins" "-64 -4 -565"
	"maxs" "64 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-56 6148 827"
	"mins" "-120 -4 -565"
	"maxs" "120 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "61 6204 827"
	"mins" "-3 -52 -565"
	"maxs" "3 52 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "61 6431 827"
	"mins" "-3 -97 -565"
	"maxs" "3 97 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-7 6492 955"
	"mins" "-57 -4 -565"
	"maxs" "57 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-136 6524 827"
	"mins" "-64 -4 -565"
	"maxs" "64 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-351 6524 827"
	"mins" "-65 -4 -565"
	"maxs" "65 4 565"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-71 6209 957"
	"mins" "-3 -57 -565"
	"maxs" "3 57 565"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block climbing generator pole by the broken house near the playground
{
	"classname" "env_physics_blocker"
	"origin" "212 6007 243"
	"mins" "-7 -5 -143"
	"maxs" "7 5 143"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors standing on the hedges by the trailer near the ambulance
{
	"classname" "env_physics_blocker"
	"origin" "-746 5183 891"
	"mins" "-511 -26 -645"
	"maxs" "511 26 645"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting on the elevated house roof
{
	"classname" "env_physics_blocker"
	"origin" "1058 6976 881"
	"mins" "-64 -112.5 -512.5"
	"maxs" "64 112.5 512.5"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1383 7072 885"
	"mins" "-256 -208.5 -508.5"
	"maxs" "256 208.5 508.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the fences by the elevated house
{
	"classname" "env_physics_blocker"
	"origin" "1101 7570 808"
	"mins" "-207 -2 -728"
	"maxs" "207 2 727"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting on the roof by the elevated house next to the boat
{
	"classname" "env_physics_blocker"
	"origin" "1242 6364 784"
	"mins" "-234 -320 -496"
	"maxs" "234 320 496"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from getting on the roof by the ambulance
{
	"classname" "env_physics_blocker"
	"origin" "1476 4336 889"
	"mins" "-208 -320 -504"
	"maxs" "208 320 504"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "1171 4452 881"
	"mins" "-97 -164 -512.5"
	"maxs" "97 164 512.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors jumping on roof and tree behind treehouse
{
	"classname" "env_physics_blocker"
	"origin" "2360 3360 816"
	"mins" "-168 -224 -576"
	"maxs" "168 224 576"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2688 3424 828"
	"mins" "-160 -160 -564"
	"maxs" "160 160 564"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "2207 3095 798"
	"mins" "-19 -21 -594"
	"maxs" "19 21 594"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block fence by garage sale that allows survivors to get on roof (Replace TLS blocker with more precise one)
{
	"classname" "env_physics_blocker"
	"origin" "1772 2172 807"
	"angles" "0 10 0"
	"mins" "-10 -123.5 -585.5"
	"maxs" "10 123.5 585.5"
	"boxmins" "-10 -123.5 -585.5"
	"boxmaxs" "10 123.5 585.5"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors standing on hedges by houses near the sugarmill
{
	"classname" "env_physics_blocker"
	"origin" "4808 -229 810"
	"angles" "0 -25 0"
	"mins" "-20 -116 -582"
	"maxs" "20 116 582"
	"boxmins" "-20 -116 -582"
	"boxmaxs" "20 116 582"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4783 780 810"
	"angles" "0 10 0"
	"mins" "-20 -125 -582"
	"maxs" "20 125 582"
	"boxmins" "-20 -125 -582"
	"boxmaxs" "20 125 582"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "4691 1175 810"
	"angles" "0 7 0"
	"mins" "-31 -205 -582"
	"maxs" "31 205 582"
	"boxmins" "-31 -205 -582"
	"boxmaxs" "31 205 582"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block climbing generator pole by sugarmill saferoom
{
	"classname" "env_physics_blocker"
	"origin" "3460 -1322 248"
	"mins" "-6 -7 -143"
	"maxs" "6 7 143"
	"initialstate" "1"
	"BlockType" "1"
}
; --- Block survivors from standing on the fence by the sugarmill saferoom
{
	"classname" "env_physics_blocker"
	"origin" "4397 -1055 816"
	"mins" "-142 -1 -720"
	"maxs" "142 1 720"
	"initialstate" "1"
	"BlockType" "1"
}
; =====================================================
; ==                   STUCK SPOTS                   ==
; ==  Prevent players from getting stuck in the map  ==
; =====================================================
add:
; --- Clipping to prevent a stuck spot on green house by the playground
{
	"classname" "env_physics_blocker"
	"origin" "-1986 5476 97"
	"mins" "-28 -6 -6"
	"maxs" "28 6 6"
	"initialstate" "1"
	"BlockType" "0"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "-3207.95 7448.24 102.297"
	"angles" "0 356.501 0"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "204 6340 98"
	"angles" "0.295346 279.998 0.522482"
	"model" "models/props_vehicles/suv_2001_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "524 4224 99"
	"angles" "0 148.999 0"
	"model" "models/props_vehicles/suv_2001_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "2955 2871 97"
	"angles" "2.17464 339.983 -0.161994"
	"model" "models/props_vehicles/suv_2001_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
{
	"classname" "prop_dynamic"
	"origin" "3216 -1376 104"
	"angles" "-0.26848 319.945 0.0671714"
	"model" "models/props_vehicles/suv_2001_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; --- Clipping on balcony railing by the playground
{
	"classname" "env_physics_blocker"
	"origin" "-988 5792 285"
	"mins" "-4 -136 -22"
	"maxs" "4 136 22"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on blue SUV to stop players getting stuck and make it easier to jump on
{
	"classname" "env_physics_blocker"
	"origin" "3004 2853 121"
	"angles" "2.17464 339.983 -0.161994"
	"mins" "-55 -46 -29"
	"maxs" "55 46 29"
	"boxmins" "-55 -46 -29"
	"boxmaxs" "55 46 29"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "3011 2851 150"
	"angles" "0 339.983 0"
	"mins" "-15 -38 -3"
	"maxs" "15 38 3"
	"boxmins" "-15 -38 -3"
	"boxmaxs" "15 38 3"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2985 2860 157"
	"angles" "0 339.983 0"
	"mins" "-15 -40 -4"
	"maxs" "15 40 4"
	"boxmins" "-15 -40 -4"
	"boxmaxs" "15 40 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2979 2862 165"
	"angles" "0 339.983 0"
	"mins" "-15 -38 -4"
	"maxs" "15 38 4"
	"boxmins" "-15 -38 -4"
	"boxmaxs" "15 38 4"
	"initialstate" "1"
	"BlockType" "0"
}
{
	"classname" "env_physics_blocker"
	"origin" "2973 2864 174"
	"angles" "0 339.983 0"
	"mins" "-15 -36 -5"
	"maxs" "15 36 5"
	"boxmins" "-15 -36 -5"
	"boxmaxs" "15 36 5"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on green dumpster by sugarmill saferoom
{
	"classname" "env_physics_blocker"
	"origin" "3552 348 198"
	"angles" "0 165.5 0"
	"mins" "-188 -60 -18.2"
	"maxs" "188 60 18.2"
	"boxmins" "-188 -60 -18.2"
	"boxmaxs" "188 60 18.2"
	"initialstate" "1"
	"BlockType" "0"
}


; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
; --- Remove TLS infected clips after loading
add:
{
	"classname" "logic_auto"
	; --- Replace blocker on fence by garage sale
	"OnMapSpawn" "anv_mapfixes_treehouse_whitefence,Kill,,30,-1"
}