; ############  DIRECTOR AND EVENT CHANGES  ###########
; =====================================================
; ==          DIRECTOR & EVENT MODIFICATION          ==
; ==       Modify director behaviour and events      ==
; =====================================================

; --- Run nav fixes script
; --- Fix 1: Fixes jesus spot on table in burger tank
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "@director,RunScriptFile,nav_fixes/c4m5_milltown_escape_navfixes,20,-1"
}
; --- Spawn tank once survivors reach the one way drop fence
; --- Create a trigger for spawning tank
add:
{
	"classname" "logic_auto"
	"OnMapSpawn" "pre_event_tank_trigger,AddOutput,mins -20 -132 -720,0,-1"
	"OnMapSpawn" "pre_event_tank_trigger,AddOutput,maxs 20 132 720,0,-1"
	"OnMapSpawn" "pre_event_tank_trigger,AddOutput,solid 2,0,-1"
	"OnMapSpawn" "tank_teleport_trigger,AddOutput,mins -100 -148 -128,0,-1"
	"OnMapSpawn" "tank_teleport_trigger,AddOutput,maxs 100 148 128,0,-1"
	"OnMapSpawn" "tank_teleport_trigger,AddOutput,boxmins -100 -148 -128,0,-1"
	"OnMapSpawn" "tank_teleport_trigger,AddOutput,boxmaxs 100 148 128,0,-1"
	"OnMapSpawn" "tank_teleport_trigger,AddOutput,solid 2,0,-1"
}
{
	"classname" "trigger_once"
	"origin" "-4077 7138 816"
	"targetname" "pre_event_tank_trigger"
	"filtername" "filter_survivor"
	"spawnflags" "1"
	"OnTrigger" "pre_event_tank,SpawnZombie,,0,1"
	"OnTrigger" "tank_teleport_trigger,Enable,,0,-1"
	"OnTrigger" "tank_death_blocker,Enable,,0,-1"
	"OnTrigger" "tank_death_blocker,Kill,,15,-1"
}
{
	"classname" "info_zombie_spawn"
	"origin" "-7010 7701 112"
	"angles" "0 0 0"
	"population" "tank"
	"offer_tank" "1"
	"targetname" "pre_event_tank"
}
; --- Fix tank spawn direction
{
	"classname" "trigger_teleport"
	"origin" "-7028 7700 208"
	"targetname" "tank_teleport_trigger"
	"filtername" "filter_infected"
	"spawnflags" "1"
	"StartDisabled" "1"
	"target" "tank_spawn_position"
	"OnStartTouch" "tank_teleport_trigger,Kill,,0,-1"
}
{
	"classname" "info_teleport_destination"
	"origin" "-7010 7701 112"
	"angles" "0 0 0"
	"targetname" "tank_spawn_position"
}
; --- Prevent accidental suiciding
{
	"classname" "env_physics_blocker"
	"origin" "-7316 7976 322"
	"mins" "-140 -2264 -252"
	"maxs" "140 2264 252"
	"initialstate" "1"
	"BlockType" "2"
	"initialstate" "0"
	"targetname" "tank_death_blocker"
}
; --- Force all alarm cars to be active
modify:
; --- Alarm by burger tank
{
	match:
	{
		"targetname" "branch_caralarm-car5"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car5Trigger0-1"
	}
}
; --- Alarm by playground saferoom house
{
	match:
	{
		"targetname" "branch_caralarm-car1"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car1Trigger0-1"
	}
}
; --- Alarm by the playground green house
{
	match:
	{
		"targetname" "branch_caralarm-car4"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car4Trigger0-1"
	}
}
; --- Alarm by the garage sale
{
	match:
	{
		"targetname" "branch_caralarm-car2"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car2Trigger0-1"
	}
}
; --- Alarm by the sugarmill saferoom
{
	match:
	{
		"targetname" "branch_caralarm-car3"
	}
	replace:
	{
		"OnTrue" "relay_caralarm_on-car3Trigger0-1"
	}
}


; ################  ITEM SPAWN CHANGES  ###############
; =====================================================
; ==                  SAFEROOM ITEMS                 ==
; ==    Saferoom item spawns - ammo piles, weapons   ==
; =====================================================
; --- Single magnum spawn before diner
{
	"classname" "weapon_pistol_magnum"
	"origin" "-6652 7633 97"
	"angles" "0 81 90"
	"spawnflags" "1"
}
; --- Make the spawns inside the diner always be the alternative tier 1 type
modify:
{
	match:
	{
		"hammerid" "1799634"
	}
	replace:
	{
		"weapon_selection" "weapon_smg_silenced"
	}
}
{
	match:
	{
		"hammerid" "1799638"
	}
	replace:
	{
		"weapon_selection" "weapon_shotgun_chrome"
	}
}



; #############  MAP CLIPPING AND ISSUES  #############
; =====================================================
; ==                 EXPLOITS BLOCKED                ==
; ==      Block intentionally performed exploits     ==
; =====================================================
add:
; --- Block survivors from getting on the roof next to burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-6000 8244 794"
	"mins" "-208 -180 -454"
	"maxs" "208 180 454"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-5846 8536 818"
	"angles" "0 7 0"
	"mins" "-40 -140 -454"
	"maxs" "40 140 454"
	"boxmins" "-40 -140 -454"
	"boxmaxs" "40 140 454"
	"initialstate" "1"
	"BlockType" "1"
}
{
	"classname" "env_physics_blocker"
	"origin" "-6016 8768 706"
	"mins" "-128 -96 -454"
	"maxs" "128 96 454"
	"initialstate" "1"
	"BlockType" "1"
}

; =====================================================
; ==                 NUISANCE CHANGES                ==
; ==      Clipping improvements, QOL map changes     ==
; =====================================================
add:
; --- Cliping on pickup truck by burger tank to make the jump to the awning possible on all tickrates
{
	"classname" "env_physics_blocker"
	"origin" "-5374 7281 193"
	"angles" "0 -8.5 0"
	"mins" "-24 -30 -3"
	"maxs" "24 30 3"
	"boxmins" "-24 -30 -3"
	"boxmaxs" "24 30 3"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Clipping on floating tree by burger tank
{
	"classname" "env_physics_blocker"
	"origin" "-4744 6788 105"
	"mins" "-54 -48 -7"
	"maxs" "54 48 7"
	"initialstate" "1"
	"BlockType" "0"
}
; --- Add plywood behind ladder on collapsed fence to fix visibility issues
{
	"classname" "prop_dynamic"
	"origin" "-4092 7460 231"
	"angles" "-90 0 0"
	"model" "models/props_highway/plywood_03.mdl"
	"solid" "0"
	"disableshadows" "1"
}
; --- Add missing glass to vehicles
{
	"classname" "prop_dynamic"
	"origin" "-3207.95 7448.24 102.297"
	"angles" "0 356.501 0"
	"model" "models/props_vehicles/pickup_truck_78_glass.mdl"
	"solid" "6"
	"disableshadows" "1"
}
; ###############  TRIGGERS AND BRUSHES  ##############
; =====================================================
; ==                   CLIP REMOVAL                  ==
; ==      Remove miscellaneous clips and brushes     ==
; =====================================================
; --- Remove TLS infected clips after loading
add:
{
	"classname" "logic_auto"
	; --- Replace broken blocker on generator by burger tank causing physics issues
	"OnMapSpawn" "anv_mapfixes_booster_ginnyjon,Kill,,30,-1"
}
; --- Replacement for anv_mapfixes_booster_ginnyjon
{
	"classname" "env_physics_blocker"
	"origin" "-5425 6789 385"
	"angles" "0 45 0"
	"mins" "-10 -4 -284"
	"maxs" "6 4 0"
	"boxmins" "-10 -4 -284"
	"boxmaxs" "6 4 0"
	"initialstate" "1"
	"BlockType" "1"
}